#
# NETDISCO 2 CONFIGURATION FILE
#
# Settings in this file override share/config.yml
#
# https://github.com/netdisco/netdisco/wiki/Configuration

# ------------------
# ESSENTIAL SETTINGS
# ------------------

database:
  name: 'netdisco'
  user: 'netdisco'
  pass: 'netdisco'

# ------------------------
# DOCKER SPECIFIC SETTINGS
# ------------------------

# Allows you to put plugin code in /lib, and templates in /share/views,
# within the nd-site-local directory.
site_local_files: true

# set to true to globally disable authentication/login.
# the user called "guest" has full admin/port-control rights.
no_auth: true

# --------------------
# RECOMMENDED SETTINGS
# --------------------

# Device authentication settings
# define snmp communities here
device_auth:
  - tag: 'default_v2_readonly'
    community: 'public'
    read: true
    write: false
